/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1030px) {

    body {
        width: 100vw;
        height: 100vh;
    }

    aside {
        position: static;
        box-shadow: none;
        z-index: auto;
        height: auto;
        width: 100vw;
    }

    .logomarca {
        width: 100vw;
    }

    .logomarca h2 {
        width: 100%;
    }

    .logomarca img {
        display: none;
    }

    ul {
        width: 100%;

    }

    .opcoes_menu {
        width: 100%;
        padding: auto;
    }

    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-inline: 1rem;
        padding-block: 5rem;
    }

    .titulos {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .traducao__perfil {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

    }

    .dados__perfil {
        margin-top: 1rem;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
    }

    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: ;

    }

    .post__video,
    .video {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-inline: auto;
        text-align: center;

    }


    .titulo__video {
        width: 90%;
    }

    iframe {
        text-align: center;
        margin-inline: auto;
        margin-block: 3rem;
        width: 80vw;
        height: 50vw;

    }

    .opcoes__video {
        text-align: center;
    }

    .informacao__video {
        margin-inline: auto;
    }

    .post__resumo {

        width: 80vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 4rem;

    }

    .post__resumo p {

        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .post__resumo h2.titulos__post {
        width: 100%;
    }

    .postagens__adicionadas {

        margin: 3rem 3rem
    }

    .post__discussoes {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }


    .post__discussoes h2,
    .paragrafo__mensagem {
        text-align: center;
        width: 90vw;
    }

    .paragrafo__mensagem {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #formulario,
    #mensagem__envio,
    .postagens {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;

    }

    #txtassunto,
    #txtconteudo,
    .barra__envio {
        width: 100%;
        margin: 0;
    }

    .divisao__botao {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .botoes_formulario {
        width: 43%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    #salvar__topico,
    #cancelar__topico {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    #cancelar__topico {
        border: black solid 1px;
    }



    footer {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo__galoa,
    .label__footer {
        margin: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-bottom: 5rem;
    }

    .label__footer {
        display: none;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}