/*roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-family: 'Roboto', 'Quicksand', sans-serif;
    display: flex;
}

:root {

    --cor--laranja: #ED7839;
    --cor--sobreado: #FDF1EB;
    --cor--titulo: #4E4E4E;
    --cor--titulo-2: #725C5C;

}


/*======= NAVEGACAO LATERAL ==========================================*/
aside {
    width: 22rem;
    height: 100vh;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    position: fixed;
    z-index: 1;
}

.logomarca h2 {
    width: 22rem;
    height: 6.8rem;
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logomarca img {
    width: 22rem;
    height: 25.8rem;
}

aside ul li a {
    height: 3.5rem;
    width: 22rem;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 2.4rem;
    border-bottom: 1px #796b6bb7 solid;
    color: var(--cor--titulo-2);
}

.active {
    background: var(--cor-tom-branco);
    border-left: 1rem solid transparent;
    border-image: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    border-image-slice: 1;
}


/*=======CONTEUDO DA PAGINA=========================================*/

main {

    margin-left: 22rem;
}



/*======= HEADER DA PAGINA==========================================*/

/* 30% de 135  = 40.5*  94.5* */


header {
    width: 130rem;
    height: 6.8rem;
    color: var(--cor--titulo-2);
    font-family: "roboto";
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor--sobreado);
}

header p {
    font-size: 1.4rem;
}

.titulos {

    height: 6.8rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulos h1 {
    font-size: 2.2rem;
    line-height: 26px;
    font-weight: 400;
    margin-right: 25rem;

}

header svg {
    margin-block: auto;
    margin-right: 2rem;
}

.dados_perfil {
    margin-block: auto;
    margin-right: 0.6rem;
}

.dados_perfil p {
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}

.dados_perfil p:first-child {
    font-size: 1.4rem;
}

.foto_perfil {
    margin-block: auto;

}

.foto_perfil img {
    width: 3.3rem;
    width: 3.3rem;
}


/*======= AREA DE VIDEO  ==========================================*/

.post__video {
    width: 105.9rem;
    height: 50.6rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
}

.header__video {
    display: flex;
}

.header__video h2 {
    width: 75rem;
    height: 5.4rem;
    font-weight: 900;
    font-size: 2rem;
    color: var(--cor--laranja);
    letter-spacing: 0.05em;
}

.opcoes__video {
    margin-left: 7.6rem;
}

.opcoes__video img {
    margin-right: 0.5rem;
}

.opcoes__video h3 {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    margin-top: 1.2rem;
    color: #ED7839;
    padding-bottom: 0.5rem;
}

.detalhes_video h2 {
    margin-left: 3rem;
    width: 24.2rem;
    height: 4.5rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    border: #ECECEC solid 1px;
}

.titulos_post {
    height: 4.5rem;

    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    color: var(--cor--titulo);
    background-color: var(--cor--sobreado);

}

.video {
    display: flex;
}

.video iframe {
    width: 78.4rem;
    height: 43.9rem
}

.texto__detalhe {
    height: 39.4rem;
    width: 24.2rem;
    padding: 1.5rem;
    margin-left: 3rem;
    border: #ECECEC solid 1px;
}

.primeira__descricao {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 400;
}

.primeira__descricao strong {
    font-weight: 700;
    font-size: 1.2rem;

}

.autores {
    font-size: 1.4rem;
}

.autores strong {
    font-weight: 700;
    font-size: 1.4rem;
}

.observacao__detalhes {
    font-size: 1.2rem;
    color: #ADA0A0;

}

.post__resumo h2 {

    width: 105.8rem;
    height: 4.5rem;
    margin-top: 3rem;
    color: var(--cor--titulo);
    background-color: var(--cor--sobreado);
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;

    border: #ECECEC solid 1px;

}

.post__resumo p {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    width: 105.8rem;
    border: #ECECEC solid 1px;

}

.post__resumo p,
span {
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--cor--titulo);
    line-height: 2.3rem;
}

#menos,
#pontos {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 1.4rem;
    color: #ED7839;
}

#menos,
#pontos:hover {

    text-decoration: underline;
    cursor: pointer;
}

/* Funcao VER MAIS*/
#mais,
#menos {
    display: none;
}

.post__discussoes {
    width: 105.8rem;
    background: #ED7839;


}

.post__discussoes h2 {
    width: 105.8rem;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 3rem;
}

.post__discussoes p {
    margin-top: 3.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: var(--cor--titulo);
    text-align: center;
}

.post__discussoes p:nth-child(2) {
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;

}

.discussoes__icones {
    margin-top: 2.7rem;
    text-align: center;
}

.discussoes__icones img:nth-child(2) {
    margin-inline: 5.3rem;
}

.discussoes__icones img {
    height: 5rem;
    width: 5rem;
}

.divisao__botao{
    display: flex;
    margin-top: 1.4rem;
    justify-content: center;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 2.0rem;
    width: 102.7rem;
}

button {
    color: white;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width: 13.3rem;
    height: 3.2rem;
    font-size: 1.5rem;
    position: relative;
    left: 0;
    bottom: -1.5rem;
    border: none;
    border-radius: 4px;

    font-family: "Quicksand";
    font-weight: 700;
    line-height: 1.6rem;
    cursor: pointer;
}

.post__discussoes svg {
    text-align: start;
}